---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/" rel="alternate" type="text/html"/>
  <updated>{{ collections.learningPath | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.shortName }}</name>
  </author>
  {%- for post in collections.learningPath | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" rel="alternate" type="text/html"/>
    <id>{{ absolutePostUrl }}</id>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <summary>{{ post.data.description | default("") }}</summary>
  </entry>
  {%- endfor %}
</feed>
